body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: rgb(63, 0, 49);
    width: auto;
    height: auto;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(255, 255, 255, 0.14);
    /* padding-left: 50px; */
    text-align: center;
    padding: 5%;
}

.sign {
    padding: 20px;
    color: rgb(249, 239, 255);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.inputField {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.inputField:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, rgb(39, 168, 13), #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    margin-top: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-left: 20%;
    margin-right: 20%;
    display: block;
}

.button:hover {
    background: linear-gradient(to left, #9C27B0, #E040FB);
}

.logout-button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, rgb(197, 21, 21), rgb(42, 2, 49));
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    margin-top: 10%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-left: 20%;
    margin-right: 20%;
    display: block;
}

.logout-button:hover {
    background: linear-gradient(to left, rgb(197, 21, 21), rgb(42, 2, 49));
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-left: 20%;
    margin-right: 20%;
}

.submit:hover {
    background: linear-gradient(to left, #9C27B0, #E040FB);
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}

td {}