{% load static %}

<html>
  <head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MediLocker Details</title>
  </head>

  <body>
    <div class="main">
      <p class="sign" align="center">Personal Details</p>
      <table style="width:100%">
        <tr>
          <td><font color="white"> Username </font></td>
          <td><font color="white"> {{ username }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Sex </font></td>
          <td><font color="white"> {{ sex }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Phone </font></td>
          <td><font color="white"> {{ phone }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Relative's Name </font></td>
          <td><font color="white"> {{ relative_name }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Relative's Phone </font></td>
          <td><font color="white"> {{ relative_phone }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Date of Birth </font></td>
          <td><font color="white"> {{ relative_phone }} </font></td>
        </tr>
      </table>
      <p class="sign" align="center">Medical Details</p>
      <table style="width:100%">
        <tr>
          <td><font color="white"> Blood Group </font></td>
          <td><font color="white"> {{ blood_grp }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Height </font></td>
          <td><font color="white"> {{ height }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Weight </font></td>
          <td><font color="white"> {{ weight }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Blood Pressure </font></td>
          <td><font color="white"> {{ bpi }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Cholestrol </font></td>
          <td><font color="white"> {{ cholestrol }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Blood Sugar </font></td>
          <td><font color="white"> {{ blood_sugar }} </font></td>
        </tr>
        <tr>
          <td><font color="white"> Blood Count </font></td>
          <td><font color="white"> {{ blood_count }} </font></td>
        </tr>
      </table>

    </div>
  </body>
</html>