<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912466249648-ii5msjbb14dvl5vt3e0jbfmm9s7qr2lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912466249648-ii5msjbb14dvl5vt3e0jbfmm9s7qr2lb</string>
	<key>API_KEY</key>
	<string>AIzaSyDNWqKm743HXcMpdxX_gW8ULYnnYI5r3kE</string>
	<key>GCM_SENDER_ID</key>
	<string>912466249648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.med-report</string>
	<key>PROJECT_ID</key>
	<string>medilocker-thingqbator</string>
	<key>STORAGE_BUCKET</key>
	<string>medilocker-thingqbator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912466249648:ios:142a17bbb93244d805f875</string>
	<key>DATABASE_URL</key>
	<string>https://medilocker-thingqbator.firebaseio.com</string>
</dict>
</plist>